.httpdetail {
  width: 80vw!important;
  .ant-modal-title {
    .ellipsis {
      display: block;
      width: calc(100% - 20px);
    }
  }

  .ant-modal-body {
    width: 80vw;
    display: grid;
    grid-template-columns: 50px calc(100% - 50px);;
    grid-template-rows: 300px 300px;
    padding-top: 0;
    & > div:nth-of-type(2n + 1) {
      text-align: right;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #e8efec;
    }
    .ant-tabs {
      padding-left: 10px;
    }
  }

  .httprequest, .httpheader, .httpbody {
    height: 230px;
    overflow: auto;
    word-break: break-all;
  }

  .httpheader {
    overflow-x: auto;
    & > div {
      display: grid;
      grid-template-columns: 200px auto;
      span:nth-of-type(2n + 1) {
        padding-right: 10px;
        text-align: right;
      }
      span:nth-of-type(2n) {
        word-break: break-all;
      }
    }
  }
}